<div>
  <img src="https://ember.com/cdn/shop/files/230914_launch_WebBanner-Desktop_2048x.jpg" style="width: 100%;">
</div>
<div class="mat-typography">
  <h1 class="mat-display-1" style="text-align: center;">The perfect temperature, every time.</h1>
  <p style="text-align: center;">
    Ember’s patented technology allows you to experience precision temperature control in your everyday life,
    with the vision to transform how the world eats, drinks, and lives, empowering you to experience your world
    without limits.
  </p>
</div>
